section{
    width: 80%;
    margin:10px auto;

}

section article{
    width: 100%;
    
}

section article img{
    width:100%;
}


nav ul li{
    display: inline-block;
    padding-right: 10px; 

}

nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

@media (min-width:426px){
    body{
        background-color: blue;
    }
    section article{
        width: 40%;
        margin-right: 5%;
        margin-left: 5%;
        float: left;
    }
    section{
        overflow: hidden;
    }
    nav{
        text-align: center;
    }
}

@media (min-width:769px){
    body{
        background-color: black;
    }
    section article{
        width: 18%;
        margin-right: 1%;
        margin-left: 1%;
        
    }
    section{ 
        overflow: hidden;
    }
    nav{
        text-align: left;
    }
    nav ul li a{
        color: white;
    }
}